.header-nav{
    $height-menu: 50px;
    background-color: lighten($main-color, 10%);

    .js &{
        height: $height-menu;

        .container{
            height: 100%;
        }
    }
    
    &__logo{
        display: inline-block;
        max-width: 350px;
        height: $height-menu;
        position: relative;
        top: 10px;

        img{
            max-width: 100%;
            height: 100%;
        }
    }

    &__hamburgger{
        display: none;

        .js &{
            display: block;
            float: right;
            height: 100%;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 2em;
            padding: 0.0em 0.5em;

            &:hover, &:focus{
                background-color: lighten($main-color, 5%);
            }
        }
    }

    &__menu{
        list-style: none;
        margin: 0px;
        padding: 0px;

        li{
            a{
                color: white;
                display: block;
                font-size: 1.5em; 
                border-top: 2px solid darken($main-color, 5%);
                padding: 1em;

                &:hover{
                    background-color: darken($main-color, 3%);
                }
            }
        }

        .js &{
            display: none;
        }

        .menu-opened &{
            display: block;
        }
    }
}